/node_modules/
/lib/
/dist/
/test/
*/**/.DS_Store
custom-elements.json
# top level source
vocechat-widget.js
vocechat-widget.js.map
vocechat-widget.d.ts
vocechat-widget.d.ts.map
# only generated for size check
vocechat-widget.bundled.js